<!DOCTYPE html>
<html lang="en">

<%- include head.ejs %>

<body>
	<%= user.username + ' ' + user.id %>
	<% if(!user){%>
		<%- include login.ejs %>
	<% } %>
	<%- include register.ejs %>
	<%- include loggedin.ejs %>
</body>
</html>